.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem 1rem;
  background-color: #fff;
  box-shadow: 0 0 10px var(--primary-box-shadow);
  position: fixed;
  z-index: 100;
  gap: 2rem;
  height: 100vh;
  width: 19rem;
}

.insta-logo {
  width: 7rem;
}

.nav-selection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-pic {
  height: 25px;
  border-radius: 50%;
}
