.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.post-modal h4,
p {
  font-size: 0.9rem;
}

.post-modal {
  max-width: 85%;
  height: auto;
  background: white;
  display: flex;
  border-radius: 5px;
}

.post-modal-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-right: 1px solid var(--primary-border);
}

.post-modal-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 29rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.post-modal-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid var(--primary-border);
}

.nav-profile-img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

.post-modal-comments-list {
  list-style: none;
  padding: 0;
}

.modal-caption-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

.post-modal-caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.modal-caption-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 2rem;
}

.modal-caption-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.time-posted {
  font-size: 0.7rem;
  color: var(--secondary-text);
}

.post-modal-footer {
  border-top: 1px solid var(--primary-border);
  padding-top: 0.5rem;
}

.comment-form {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.comment-input {
  border: none;
  width: 95%;
  font-size: 0.75rem;
  height: 1.5rem;
}

.comment-input:focus {
  outline-width: 0;
}

.comment-submit {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--ig-blue);
  font-weight: 600;
}

.comment-submit:disabled {
  color: rgb(211, 221, 239);
  cursor: not-allowed;
}
