.search-card-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.search-card-container img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.search-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
}

.search-card-username {
  font-weight: 600;
  font-size: 14px;
}
