body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.app-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: var(--ig-background);
}

.main-content-home-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.nav-home-container,
.search-container {
  transition: width 0.5s ease;
  width: 100%;
}

.nav-home-container.collapsed {
  width: 75px;
}

.sidebar-container {
  display: flex;
  width: 470px;
}
