@import url("./fonts/fonts.css");

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: Roboto, sans-serif;

  --secondary-text: rgb(115, 115, 115);
  --primary-text: rgb(38, 38, 38);
  --primary-border: #dbdbdb;
  --ig-blue: rgb(53, 121, 234);
  --primary-input: #f7f5f5;
  --primary-white: #fff;
  --primary-box-shadow: rgba(0, 0, 0, 10%);
  --ig-primary-button: rgb(0, 149, 246);
  --ig-primary-button-hover: rgb(24, 119, 242);
  --comment-disabled-color: rgb(211, 221, 239);
}

#root {
  height: 100%;
}
