@import url("./fonts/fonts.css");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Segoe UI";

  --secondary-text: rgb(115, 115, 115);
  --primary-text: rgb(38, 38, 38);
  --primary-border: #dbdbdb;
  --ig-blue: rgb(53, 121, 234);
  --primary-input: #f7f5f5;
  --primary-white: #fff;
  --primary-box-shadow: rgba(0, 0, 0, 0.1);
}

#root {
  height: 100%;
}
